Practica1.sln
Debug/*
Practica1/Debug/*
Practica1/Practica1.vcxproj
Practica1/Practica1.vcxproj.filters
Practica1/.vs/*
Practica1/.vs/Practica1/v15/*
Practica1/vs/*
x64/*
Practica1/x64/*
*.obj
*.exe
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user